body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.principal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px;
    width: 100%;
    height: 45em;
    background-color: white;
}

.principal section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCCC33;
}

#s1 {
    grid-area: 1 / 1 / span 1 / span 5;
}

#s2 {
    grid-area: 2 / 1 / span 4 / span 2;
}

#s3 {
    grid-area: 2 / 3;
}

#s4 {
    grid-area: 2 / 4 / span 1 / span 2;
}

#s5 {
    grid-area: 3 / 3 / span 1 / span 2;
}

#s6 {
    grid-area: 3 / 5;
}

#s7 {
    grid-area: 4 / 3;
}

#s8 {
    grid-area: 4 / 4;
}

#s9 {
    grid-area: 4 / 5;
}

#s10 {
    grid-area: 5 / 3 / span 1 / span 3;
}
