body{
    background-image: url("/Planete/asset/img/css-16-bg.webp");
    display: flex;
    justify-content: center;
    margin : 0;
}

.planets-container{
    margin-top: 20em;

}

.planet1 {
    height: 10em;
    width: auto;
}

.planet2 {
    height: 13em;
}

.planet3 {
    height: 15em;
}