body{
    display: flex;
    flex-direction: column;
    align-items: center
}

.maClasse {
    color: red;
}

.test {

    width: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.uneSimpleDiv {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
  font-weight: bold;


}


.leo img {
    height: 250px;
    width: 250px;
    border: solid black 2px;
    transition: height 2s ease-in, width 2s ease-in;
}



#leo:hover {
    height: 500px;
    width: 500px;
}

.thinker {
    height: 300px;
    width: 300px;
    transition: transform 2s;
    transform: rotateZ(180deg);
}

.thinker:hover {
    transform: rotateZ(0deg);
}

.reeves {

    background-position: center;
    transition: opacity 2s;
}

.reeves:hover {
    opacity: 0%;
}

.kim {
    height: 250px;
    width: 250px;
    transition: transform 1s ease-in-out, opacity 1s;
}

.kim:hover {
    transform: translate(80px, 80px) rotate(98deg);
    opacity: 0%;
}




.monH3 {
    color: white;
}

.uneSimpleDiv:hover{

    cursor: pointer;

    height: 70px;
    width: 70px;
    background-color: black;
    opacity: 90%;

}