* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a4d1f;
    color: white;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.filtre {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtre button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
}

main{
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}

.plantes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carte_plante {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    margin: 10px;
    padding: 15px;
    width: 17rem;
    text-align: center;
}

.image{
    height: 300px;
    position: relative;

}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prix_plante {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.prix {
    font-weight: bold;
    color: #4CAF50;
}

.panier {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 11px 10px;
    border-radius: 17px;
    cursor: pointer;
}
