body{
    font-family: monospace;
    display : flex;
    justify-content: center;
    flex-direction: column;
    margin : auto;
    width: 70%;
    align-items: center;
}

h1{
    color: #008CBA;
}


.bouton{
    margin: 2em;
}


.bouton1, .bouton2, .bouton3 {
    width: 15em;
    height: 3em;
    color: white;
    border-radius: 10px;
    border: transparent;


}

.bouton1{
    background-color: #008CBA ;
}

.bouton2{
    background-color: #4CAF50 ;
}

.bouton3{
    background-color: #555555 ;
}

table{
    margin : 2em;

}


table, th, td {
  border:2px solid black;
  width: auto;
  height: auto;
  
}

table mark{
    background-color: #008CBA ;
    color: white;
}

.carte mark{
    background-color: #4CAF50;
    color: white;
}

.stat{
    display: flex;
    flex-direction: row;
}

.carte{
    width: 13em;
    border: solid 1px black;

}