body{
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color : #224422;
}


header img {
    width: 100px;
    height: auto;
}

p, ul, li, table {
    color: #FFFFFF;
}

h1, h2, h3{
    color : #CCFFCC
}

a{
    color:  #CCCCFF;
}

ul a{
    display: flex;
    margin: 5px;

    
}

header a:hover{
    background-color: #1e8b1e;
    cursor: pointer;
}

table {
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px
}

.gallerie img{
    height: 150px;
    width: 230px;
}

.gallerie{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
}


footer {
    display: flex;
    justify-content: space-around
}


