:root {
    --couleur-fond: #f4f4f4;
    --couleur-principale: #2c3e50;
    --couleur-secondaire: #e74c3c;
    --couleur-texte: #666;
    --couleur-ombre: rgba(0, 0, 0, 0.1);
    --couleur-bordure: #ddd;
    --couleur-fond-temps: #f9f9f9;
    --couleur-fond-note: #fff3cd;
    --couleur-texte-note: #856404;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--couleur-fond);
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}


.conteneur-recette {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;

}

.titre-recette, .titre-ingredients, .titre-instructions {
    color: var(--couleur-principale);
}

.titre-recette {
    border-bottom: 2px solid var(--couleur-secondaire);
    padding-bottom: 10px;
}

.texte-recette p {
    color: var(--couleur-texte);
    font-size: 1.1rem;
}

.conteneur-texte-images {
    display: flex;

}

.bloc{
    display: flex;
}


.image-recette .p1 {
    width: 300px
}

.image-recette{
    text-align: center;
}

.image-recette img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--couleur-bordure);
}

.credit-photo {
    color: var(--couleur-texte);
    font-size: 0.8em;
}

.conteneur-temps {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: var(--couleur-fond-temps);
    padding: 10px;
    border-radius: 8px;
    margin-top: 31px;
    border-top: 1px solid var(--couleur-bordure);
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.05);
    background-color: white;
}

.conteneur-temps ul {
    text-align: center;
    padding: 10px;
    border-left: solid var(--couleur-secondaire);
    list-style: none;
}

.liste-ingredients, .liste-instructions {
    padding: 0;
}

.liste-ingredients li, .liste-instructions li {
    padding: 8px 0;
    border-bottom: 1px solid var(--couleur-bordure);
}

.note {
    background-color: var(--couleur-fond-note);
    padding: 17px;
    border-radius: 8px;
    margin-top: 20px;
    border-left: 4px solid #ff9800;
}


.liste-instructions {
    counter-reset: my-counter;
    list-style: none;
    padding-left: 0;
}

.liste-instructions li {
    counter-increment: my-counter;
    margin-bottom: 10px;
}

.liste-instructions li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    background-color: var(--couleur-secondaire);
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    margin-right: 10px;
    border-radius: 50%;
}



