@font-face {
  font-family: Karantina_Regular;
  src: url(/Agoge/asset/font/Karantina/Karantina-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;

}

header {
    background-image: url("/Agoge/asset/img/duo.png");
    background-repeat: no-repeat;
    height: 1440px;
    color: white;
    padding: 10px 0;
    text-align: center;
    background-size: contain;
    
}

h1{
    color: white;
}

nav {
    display: flex;
    justify-content: center;

    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav li {
    margin: 1em;
    list-style: none;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.titre_contenaire{
    margin: auto;
    width: 30%;
    display: flex;

    align-items: flex-end;
}

h2{
    height: 20px;
    font-size: 101px;
    font-family: Karantina_regular;

}

h1{
    font-size: 290px;
    font-family: Karantina_regular;
    margin: 0;
    color : #26C1DC;
    -webkit-text-stroke: 0.5px #ffffff;
}



