body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBF0F0 ;
}

header{
  display: flex;
  background-color: #E64B3C;
  justify-content: center;
  color: white;
}


.chaton {
  justify-content: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns:repeat(3, 20%);
  grid-gap: 20px;
}

.carte {
  display: grid;
  grid-template-rows: max-content auto 1fr;
}

.carte img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text{
  padding: 13px;
  text-align: justify;
  background-color: #FFFFFF;
}

h3{
  color : #E64B3C
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .body{
    font-size: 20px;
  }


  .chaton{
    grid-template-columns: repeat(2,50%);
  }
}


@media only screen and (max-width: 768px) {

  .body{
    font-size: 15px;
  }
  
  
  .chaton{
    grid-template-columns: 100%;
  }

}