body{
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color : #224422;
}


header img {
    width: 100px;
    height: auto;
}

p, ul, li, table {
    color: #FFFFFF;
}

h1, h2, h3{
    color : #CCFFCC
}

a{
    color:  #ACC0F6;
}

ul{
    margin : 0;
    padding: 0;
}

ul a{
    display: flex;
    margin: 5px;
    background-color: #315031;
    width: 100%;
    text-decoration: none;
    border: solid 1px #224422;

}

main{
    margin : auto;
    width: 70%;
}

header a:hover{
    background-color: #446944;
    cursor: pointer;
}

table {
    border: 3px solid #CCFFCC;
    overflow-x: auto;
}

th,
td {
  border: 1px solid #CCFFCC;
  padding: 8px 10px
}

.gallerie img{
    height: 150px;
    width: 230px;
}

.gallerie{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: flex-start;
}


footer {
    display: flex;
    justify-content: space-around
}

@media (min-width: 767px) and (max-width: 900px) {

    body{
        width: 100%;
    }
  table {
    font-size: 0.9rem;
  }

  td, th {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {

    .body{
      font-size: 15px;
      width: 100%;
    }

    /* table th,
    td{

        overflow-wrap: anywhere;
        font-size: 11px;
    } */

    table, thead, tbody, th, td, tr {
    display: block;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 45%;
    padding-right: 1rem;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}


